.blogPage {
    background: #EEF0F4;
}

/* .blogPage {
    width: 100%;
    background: #334ba3;
}


.blogPage__box {
    box-shadow: inset 9.91px 9.91px 15px #2E4494, inset -9.91px -9.91px 15px #3852B2;
    border-radius: 15%;
    margin: 30px;
} */

.blogTop {
    /* margin-top: 200px; */
    /* padding-top: 200px; */
    margin-bottom: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15% 15%;
}

.blogTop__imageCover {
    height: 500px;
    background-color: black;
    width: 100%;
    z-index: 1;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.blogTop__bannerImage {
    z-index: 2;
    object-fit: contain;
    height: 500px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.blogTop__blogImage {
    object-fit: contain;
    max-width: 50%;
    max-height: 300px;
    min-height: 250px;
    margin-top: -200px;
    z-index: 3;
    border-radius: 3px;
    border: 10px solid #EEF0F4;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

.blogContent {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.blogContent__title {
    text-align: center;
}

.blogContent__title > h1 {
    font-family: 'Zen Loop', cursive;
    letter-spacing: 2px;
    font-size: 50px;
    margin-bottom: 20px;
    color:#2646B5;
}

.blogContent__subInfo {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-right: 50px;
    color: gray;
}

.blogContent__author {
    margin-bottom: 15px;
}

.blogContent__content {
    margin-top: 30px;
    /* margin-left: 60px;
    margin-right: 60px; */
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.blogContent__paragraph {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    word-spacing: 10px;
    line-height: 1.6;
    margin-left: 60px;
    margin-right: 60px;
}

.blogContent__bottomButtonGroup {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 6000;
}


.blogContent__bottomButton {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    margin-right: 5px;
    background-color: white;
    border: 3px solid black;
}

.blogContent__bottomButton:hover {
    color: white;
    background-color: black;
}

.blockContent__imageContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blockContent__image {
    height: 300px;
    object-fit: contain;
}

/* .blogContent__seeMoreButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.blogContent__seeMoreButton {
    position: relative;
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    width: 20%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.blogContent__seeMoreButton:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}

